/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin          : 0;
    font-family     : Roboto, "Helvetica Neue", sans-serif;
    background-color: #303030;
    color           : #FFFFFF;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #FFFFFF;
  box-shadow: 0 0 0px 1000px #303030 inset;
}